<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>594918748572-hgs7fqsabous3gp1n8gf30rb75pn5mel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594918748572-hgs7fqsabous3gp1n8gf30rb75pn5mel</string>
	<key>API_KEY</key>
	<string>AIzaSyAfvaxnUkFloveCc8HD3LX9L3pH1Mc0sQg</string>
	<key>GCM_SENDER_ID</key>
	<string>594918748572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>creativemic.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-1b59e</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-1b59e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:594918748572:ios:ec0eac0121fbc132</string>
	<key>DATABASE_URL</key>
	<string>https://instaclone-1b59e.firebaseio.com</string>
</dict>
</plist>